name: Biome CI

on:
  pull_request:
  push:
    branches:
      - "*"

jobs:
  biome:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: file:./test.db

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Generate Prisma client
        run: npx prisma generate
        working-directory: ./packages/backend

      - name: Build the project
        run: npm run build

      - name: Run tests
        run: npm test

      - name: Run Biome CI check
        run: npx @biomejs/biome ci
